@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans+KR:wght@300&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans+KR:wght@300&family=Roboto+Condensed:wght@300&display=swap');

body{
    padding: 0px;
    margin: 0px;
    background-color: #fefae0;
}

.navegador ul{
	list-style-type: none;
	margin: 0;
	padding: 3px;
	background-color: #333;
	overflow: hidden;
	width: 99.58%;
}

.navegador li{
	float: left;
}

.navegador li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	margin: 10px;
	text-decoration: none;
	border-radius: 2px;
    font-family: 'Fjalla One', sans-serif;
}

.toggle{
	width: 32px;
	float: right;
	margin-top: -30px;
	margin-left: 5px;
	display: none;
}

.navegador li a:hover{
	background-color: #e0d3c4;
	color: black;
	font-size: 16px;
}

.boton{
	background-color: #d9ab57;
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	margin: 10px;
	text-decoration: none;
	border-radius: 2px;
    font-family: 'Fjalla One', sans-serif;
}

.boton:hover{
	background-color: #e0d3c4;
	color: black;
	font-size: 16px;
}


@media only screen and (max-width: 892px) {
  /* For mobile phones: */

  .navegador li{
    width: 100%;
  }
  .navegador{
  	width: 99.59%;
  	height: 80px;
  	overflow: hidden;
  }

  .toggle{
  	display: block;
  	float: left;
  	margin-left: 30%;
  	padding: 6px;
  	margin-top: -55.7px;
  	transition: 0.8s;
  }
}

@media only screen and (max-width: 892px) {
  /* For mobile phones: */
  .navegador .boton{
    width: 87%;
  }

}

.navegador.active{
	height: auto;
}


.navegador.active .toggle{
	transform: rotate(180deg);
	transition: 0.8s;
}

picture{
    display: block;
    margin: 2% 5%;
    padding: 2%;
    width: 85%;
}

.principal{
    border-radius: 30px;
    width: 100%;
    overflow: hidden;
    height: 40%;
}

.versus{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 500px;
    margin: 5%;
}

.descripcion{
    background-color: #8ecae6;
    border-radius: 10px;
    padding: 6% 2%;
    width: 20%;
}

.descripcion h1{
    font-size: 40px;
    font-family: 'Fjalla One', sans-serif;
}

.descripcion p{
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.descripcion input{
    width: 100%;
    height: auto;
    font-size: 20px;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    background-color: #023047;
    padding: 1%;
    border-radius: 30px;
    opacity: 0.9;
    margin-top: 10%;
}

.descripcion input:hover{
    opacity: 1;
    cursor: pointer;
}

.visualizacion{
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 2%;
    width: 70%;
    border-radius: 30px;
}

.pokemon1{
    border-radius: 30px;
    align-content: center;
    padding: 3%;
    position: relative;
    transition: 0.6s;
    transform: scale(0.9);
}

.pokemon1:hover{
    transform: scale(1);
    transition: 0.7s;
}

.pokemon1 img{
    width: 300px;
    margin-bottom: 5%;
    transition: 0.6s;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    transition: 0.6s;
}
.pokemon1 p{
    text-align: center;
    padding: 2%;
    background-color: #1b512d;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    border-radius: 30px;
    margin: 0px;
}

.visualizacion h1{
    width: 20%;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    margin: 5%;
}

.pokemon2{
    border-radius: 30px;
    align-content: center;
    padding: 3%;
    position: relative;
    transition: 0.6s;
    transform: scale(0.9);
}

.pokemon2:hover{
    transform: scale(1);
    transition: 0.7s;
}

.pokemon2 img{
    width: 300px;
    margin-bottom: 5%;
    transition: 0.6s;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    transition: 0.6s;
}

.pokemon2 p{
    text-align: center;
    padding: 2%;
    background-color: #1b512d;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    border-radius: 30px;
    margin: 0px;
}

.teams{
    margin: 0% 5%;
}

.descripciont h1{
    background-color: #ffb703;
    border-radius: 30px;
    font-size: 40px;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    padding: 1%;
    margin-bottom: 0px;
}

.descripciont p{
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 2% 5%;
    padding-bottom: 0px;
    margin-top: 0px;
}

.descripciont input{
    width: 15%;
    height: auto;
    margin: 0% 5%;
    font-size: 20px;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    background-color: #023047;
    padding: 0.5%;
    border-radius: 30px;
    opacity: 0.9;
}

.descripciont input:hover{
    opacity: 1;
    cursor: pointer;
}

.visualizaciont{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 3% 0%;
}

.visualizaciont img{
    width: 200px;
    margin: 1%;
    transition: 0.6s;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 3%;
    border-radius: 50%;
    transition: 0.6s;
}

.poke{
    padding: 1%;
    margin: 0.3%;
    text-align: center;
    width: 21%;
    border-radius: 30px;
    transition: 0.7s;
}
